.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}
.img{
  height: 100px;
  width: 100px;
}
html, body {
  height: 100%;
  margin: 0;
}

* {
  font-family: Raleway;
}

.app__header {
  background-color: #759EDA;
}

.app__main {
  background-color: #9CCEF4;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
align-items: center;
}
.all {
  margin-right: 12%;
  margin-left: 12%;
  margin-bottom: 4.44%;
}

.laters {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imnow{
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}

.imlater{
  margin-left: 0px;
  margin-right: 0px;
  width: 100px;
}

.now {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #1D2565;
  width: 380px;

}

.later {
  text-align: center;
  color: #1D2565;
  width: 11%px;
}

span {
  font-weight: bolder;
}

.p0 {
  position: relative;
  top: -20px;
  color: white;
  font-weight: bolder;
  font-size: x-large;
}

.p1 {
  margin-top: 0px;
  font-size: x-large;
}

.p2 {
  font-size: larger;
}

button {
  background-color: #5879C7;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
 
  outline: none;
  font-size: 0px;
}

button::before {
  content: "FIND  WEATHER";
  color: #30418B;
  font-size: large;
}

@media screen and (max-width: 900px) {
  
  .laters {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 22%;
    padding-right: 22%;
  }
  .now {
    margin-bottom: 50px;
  }
  .later {
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 30px;
    align-items: center;
  }
  .app__main {
    background-color: #9CCEF4;
    height: auto;
    width: 100vw;
  }
}

#input-name {
  width: 25%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: large;
}

#input-name::placeholder {
  content: "FIND WEATHER";
  color: white;
  font-size: large;
}

#input-name:focus {
  outline: none;
  border-bottom: 1px solid #30418B;
}

div {
  border: none;
}